/*link,visit, hover, active, focus*/

body {
	margin: 0;
	padding: 0;
}

article {
	color: blue;
}

#home {
	/*background: url("../images/vote.jpg") 50% 0 no-repeat fixed;*/
	background-color: blue;
	height: 1000px;
	margin: 0 auto;
		width: 100%;
		max-width: 1920px;
		position: relative;
}

#home article {
	color: black;
	font-family: 'Raleway', sans-serif;
	font-size: 74px;
	height: 458px;
	position: absolute;
	text-align: center;
	top: 150px;
	width: 100%;
}

#home input {
	font-family: 'Raleway', sans-serif;
	width: 300px;
	padding: 2%;
	font-weight: bold;
	font-size: 150%;
	color: #FFFFFF;
	cursor: pointer;
	border: 1px solid #999999;
	border-radius: 10px;
}

form {
	display: inline;
}

input {
	background-color: purple;
}

#learnButton {
	background-color: yellow;
	float: right;
	margin: 25% 20% 20% 0;
}

#register {
	/*background: url("../images/lion.jpg") 50% 0 no-repeat;*/
	background-color: white;
	height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#register article {
	font-family: 'Raleway', sans-serif;
	font-size: 74px;
	height: 458px;
	position: absolute;
	text-align: center;
	top: 150px;
	width: 100%;
}

#learn {
	/*background: url("../images/test.jpg") 50% 0 no-repeat;*/
	background-color: red;
	height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#learn article {
	font-family: 'Raleway', sans-serif;
	font-size: 74px;
	height: 458px;
	position: absolute;
	text-align: center;
	top: 150px;
	width: 100%;
}

#about {
	/*background: url("../images/aboutBG.jpg") 50% 0 no-repeat;*/
	background-color: yellow;
	height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#about article {
	font-family: 'Raleway', sans-serif;
	font-size: 74px;
	height: 458px;
	position: absolute;
	text-align: center;
	top: 150px;
	width: 100%;
}