/*link,visit, hover, active, focus*/

* {
	box-sizing: border-box;
}

.row:after {
	content: "";
	clear: both;
	display: block;
}
[class*="col-"] {
	float: left;
	padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
	margin: 0;
	padding: 0;
	width: auto;
}

article {
	color: blue;
}

#home {
	/*background: url("../images/vote.jpg") 50% 0 no-repeat fixed;*/
	background-color: blue;
	height: 1000px;
	/*margin: 0 auto;*/
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#home h1 {
	color: black;
	font-family: 'Rock Salt', sans-serif;
	font-size: 74px;
	height: 458px;
	position: absolute;
	text-align: center;
	top: 10%;
	width: 100%;
}

#home h2 {
	color: black;
	font-family: 'Amatic SC', sans-serif;
	font-size: 48px;
	position: absolute;
	text-align: center;
	top: 30%; 
	width: 100%;
}

a {
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	padding: 2%;
	border: 5px solid black;
	border-radius: 10px;
	background-color: white;
	text-decoration: none;
	text-align: center; 
}

.buttons {
	position: relative;
	top: 40%;
	width: 1000px;
	margin-left: 20px;
}


/* #home input {
	font-family: 'Raleway', sans-serif;
	width: 300px;
	padding: 2%;
	font-weight: bold;
	font-size: 150%;
	color: #FFFFFF;
	cursor: pointer;
	border: 1px solid #999999;
	border-radius: 10px;
} */

/* a {
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	color: black;
	text-decoration: none;
	width: 120px;
	height: 50px;
	border-radius: 10px;
	border-style: solid;
	border-width: 5px;
	border-color: black;
	padding: 10px;
	text-align: center;

	/*width: 100px;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
} 

.homebuttons {
	margin-top: 100px;
}

#test1 {
	background-color: purple;
}

#test2 {
	background-color: yellow;
	color: black;
} */

/*form {
	display: inline-block;
	margin: 0 auto;
}

input.registerButton {
	background-color: purple;
}

input.learnButton {
	background-color: yellow;
}*/

#register {
	/*background: url("../images/lion.jpg") 50% 0 no-repeat;*/
	background-color: white;
	height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#register article {
	font-family: 'Raleway', sans-serif;
	font-size: 74px;
	height: 458px;
	position: absolute;
	text-align: center;
	top: 150px;
	width: 100%;
}

nav {
	background-color: #FFFFFF;
	border: 1px solid #DEDEDE;
	border-radius: 4px;
	color: purple;
	display: block;
	margin: 8px 22px 8px 22px;
	overflow: hidden;
	width: 90%;
}

#learn {
	/*background: url("../images/test.jpg") 50% 0 no-repeat;*/
	background-color: red;
	height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#learn article {
	font-family: 'Raleway', sans-serif;
	font-size: 74px;
	height: 458px;
	position: absolute;
	text-align: center;
	top: 150px;
	width: 100%;
}

#about {
	/*background: url("../images/aboutBG.jpg") 50% 0 no-repeat;*/
	background-color: yellow;
	height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}

#about article {
	font-family: 'Raleway', sans-serif;
	font-size: 74px;
	height: 458px;
	position: absolute;
	text-align: center;
	top: 150px;
	width: 100%;
}